body {
	margin: 0;
	padding: 0;
	background-color: hsl(0, 0%, 95%)
}

/* Estrutura */
.container {
	width: 55rem;
	height: 25rem;
	display: block;
	margin: 0 auto;
	margin-top: 7rem;
	background-color: black;	
}